<br>
<br>
<br>
<br>
<div style="color:#ff0000">
<center><h1>No. 5846 on the Protection of Intellectual and Artistic Works </h1>
</div>
<center>  <h1>
The rights of this Site and all documents in the bot are reserved.
Unless otherwise stated the commands contained in the site and the bot,
No script elements and other elements of the bot and the site can be copied without permission,
It cannot be moved, quoted, published or used on the internet or in any form whatsoever..
Users who use this site and the bot declare and undertake that they accept all requests and explanations of Roffly regarding the copyright of the site of the bot.
</h1></center>


